@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100..900&display=swap');

body {
  position: absolute;
  margin: 0;
  padding: 0;
  min-height: 500vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home {
  width: 98vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_company_name {
  bottom: 3vw;
  position: relative;
  width: 100vw;
  height: 100%;
  color: #F1FCFD;
  font-family: Lexend Peta, sans-serif;
  font-size: 5vw;
  text-align: center;
  text-shadow: 0 0 0.3vw #fff, 0 0 6vw #fff, 0 0 0.9vw #fff;
}

.logo {
  position: fixed;
  width: 9vw;
  display: block;
  margin: -25vw auto 0 auto;
}

.nav_bar {
  width: 30vw;
  height: 4vw;
  background: white;
  position: absolute;
  z-index: 2;
  margin: -23vw auto 0 auto;
  border-radius: 4vw;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 0 0.3vw #fff, 0 0 6vw #fff, 0 0 0.9vw #fff;
}

.horizontal-list {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex;          
  gap: 1rem;         
}

.horizontal-list a {
  text-decoration: none;
}

.horizontal-list li {
  text-decoration: none;
  gap: 5rem;
}